/* Estilos para el tema Pokémon */
ion-header {
    --background: #004d85; /* Color de fondo azul */
  }
  
  ion-toolbar {
    --background: #ffffff; /* Color de fondo amarillo */
    --color: #004d85; /* Color de texto azul */
  }
  
  .logo-image {
    width: 150px; /* Ancho de la imagen del logo */
    margin-top: 20px; /* Margen superior */
  }
  
  .pokemon-input {
    --highlight-color-focused: #ffffff; /* Color de resaltado al enfocar el input */
    --highlight-color-invalid: #ff4136; /* Color de resaltado si el input es inválido */
    background-color: #1e46d0; /* Color de fondo gris claro para los inputs */
    border-radius: 20px; /* Borde redondeado */
    margin-bottom: 20px; /* Margen inferior */
  }
  
  .pokemon-label {
    color: #004d85; /* Color de texto azul */
  }
  
  .pokemon-input-text {
    --color: #004d85; /* Color de texto azul para los inputs */
  }
  
  .pokemon-button {
    --background: #ffffff; /* Color de fondo amarillo para el botón */
    --color: #004d85; /* Color de texto azul para el botón */
    margin-top: 20px; /* Margen superior */
  }
  
  /* Estilo para centrar contenido en el medio */
  .ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  