<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresa tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="pokemon-input">
  <ion-label position="stacked" class="pokemon-label">Crear tu contraseña</ion-label>
  <ion-input type="password" label="Password" value="">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
</ion-item>

  <ion-item lines="none" class="pokemon-input">
  <ion-label position="stacked" class="pokemon-label">Confirma tu contraseña</ion-label>
  <ion-input type="password" label="Password" value="">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
</ion-input>
  </ion-item>

  <ion-button expand="block" class="pokemon-button" (click)="send()">Enviar</ion-button>

</ion-content>
