/* Estilos para el tema Pokémon */
ion-header {
    --background: #004d85; /* Color de fondo azul */
  }
  
  ion-toolbar {
    --background: #ffffff; /* Color de fondo amarillo */
    --color: #024474; /* Color de texto azul */
  }
  
  .logo-image {
    width: 150px; /* Ancho de la imagen del logo */
    margin-top: 20px; /* Margen superior */
  }
  
  .pokemon-input {
    --highlight-color-focused: #b61b1b; /* Color de resaltado al enfocar el input */
    --highlight-color-invalid: #ff4136; /* Color de resaltado si el input es inválido */
    background-color: #1e46d0; /* Color de fondo gris claro para los inputs */
    border-radius: 20px; /* Borde redondeado */
    margin-bottom: 20px; /* Margen inferior */
  }
  
  .pokemon-label {
    color: #004d85; /* Color de texto azul */
  }
  
  .pokemon-input-text {
    --color: #004d85; /* Color de texto azul para los inputs */
  }
  
  .pokemon-button {
    --background: #ffffff; /* Color de fondo amarillo para el botón */
    --color: #004d85; /* Color de texto azul para el botón */
    margin-top: 20px; /* Margen superior */
  }
  
  /* Estilo para centrar contenido en el medio */
  .ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  /*------------------------------------------------------------------------------------*/

  .signin {
    float: right;
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    gap: 0.75rem;
    color: #c4d2dc;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
    margin: 0 auto;
  }
  
  .signin:hover {
    transform: scale(1.025);
  }
  
  .signin:active {
    transform: scale(0.975);
  }
  
  button svg {
    height: 24px;
    width: auto;
  }
  

  .button {
    display: flex;
    background-color: #f9f9f9;
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
    margin: 0 auto; /* Esto centra el botón horizontalmente */
}

  
  .button svg {
    height: 30px;
  }
  
  .button:hover {
    box-shadow: none;
  }
  