.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Opcional: ajusta la altura según sea necesario */
  }
  
  .center-image {
    max-width: 100%; /* Opcional: ajusta el tamaño máximo de la imagen */
    max-height: 100%; /* Opcional: ajusta la altura máxima de la imagen */
  }
  