<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Codigo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <img src="https://scontent.fver3-1.fna.fbcdn.net/v/t39.30808-6/352337143_624084479779340_2997033800084099485_n.jpg?stp=dst-jpg_p180x540&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0CEfpgbIzbEQ7kNvgFpZXBt&_nc_ht=scontent.fver3-1.fna&oh=00_AYA7sagCRKpN8lqewuGVjeFsxYDvVsj72RB6t8kFfCIbiA&oe=66433C41" alt="Corona Capital" class="center-image">
  </div>
</ion-content>

<ion-content class="ion-padding">

  <ion-button expand="block" class="pokemon-button" (click)="send()">Enviar</ion-button>

</ion-content>

